<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    방문 시간 : <select name="time" id="time">
        <option value="1">14:00~16:00</option>
        <option value="2">19:00~21:00</option>
    </select>
    관람 인원 : <select name="person" id="person">
        <option value="1">1명</option>
        <option value="2">2명</option>
        <option value="3">3명</option>
        <option value="4">4명</option>
    </select>
    <button class="btn btn-primary">공연신청</button>
</body>
</html>