* {
    margin: 0;
    padding: 0;
    color: #333;
}

img {
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

header * {
    z-index: 9999;
}

nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

#util {
    display: flex;
    align-items: center;
}

.main-menu {
    font-size: 15px;
    position: relative;
}

.main-menu > a {
    transition: all .5s;
    padding: 5px 8px;
}

.sub-menu {
    display: none;
    width: 120px;
    position: absolute;
    border: 1px solid #eaeaea;
    background-color: white;
}

.sub-menu > a {
    transition: all .5s;
    display: block;
    font-size: 13px;
    padding: 5px 8px;
    border-bottom: 1px solid #eaeaea;
}

.main-menu:hover >a {
    background-color: #eaeaea;
}

.main-menu:hover .sub-menu {
    display: block;
}

.sub-menu > a:hover {
    background-color: #eaeaea;
}

/*  */

#visual {
    width: 100%;
}

.visual-content {
    position: relative;
    height: 300px;
}

.visual-area {
    height: 100%;
    position: relative;
}

.visual-img {
    width: 100%;
    height: 100%;
    filter: brightness(.5);
    position: absolute;
}

.visual-txt {
    position: absolute;
    padding: 110px 30px;
}

.visual-txt > h5 {
    color: white;
}

.visual-txt > p {
    color: white;
    margin-top: 10px;
}

/*  */
#section2 {
    margin-top: 100px;
}

#history {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history-content {
    border-left: 2px solid #333;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.history-content > div {
    position: relative;
    padding-left: 30px;
}

.history-circle {
    font-size: 30px;
    position: absolute;
    margin-left: -45px;
}

.history-title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

.history-info {
    margin-top: 6px;
    font-size: 13px;
    transition: all .5s;
    opacity: 0;
}

.history-content > div:hover .history-info {
    opacity: 1;
}